.resume-biography .avatar {
  max-width: 300px !important;
  max-height: 300px !important;
  width: auto !important;
  height: auto !important;
}
.avatar-wrapper img.avatar {
  width: 300px !important;
  height: 300px !important;
  max-width: none !important;
  max-height: none !important;
}
